@import "../../style/mixins.scss";

.navbar {
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: var(--text-light-color);

  a {
    margin-right: 2rem;
    color: unset;
  }
}
