@import "../../style//mixins.scss";

.auth-form {
  @include card();

  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
  }

  .btn-submit {
    @include btn();
    background: var(--primary-color);
    color: var(--text-light-color);
    margin-bottom: 1rem;
  }
}
